notebooks/
ntbs/
.ipynb_checkpoints
tests
__pycache__
nohup.out
torchmd_exp.egg-info/
scripts/trainings
scripts/simulations
.nfs*
scripts/utils/test_sim.ipynb
build/
scripts/utils/
dist/
Tutorials/csm_50
Tutorials/fastfolders
data/test/starting_points/.cln_kcenters_64clusters_coords.xtc
data/test/starting_points/.cln_kcenters_64clusters_coords.xtc.numframes
