notebooks/
ntbs/
.ipynb_checkpoints
tests
__pycache__
nohup.out
torchmd_exp.egg-info/
scripts/trainings
scripts/simulations
data/csm_50_dataset/csm_dataset_69k_50.npy
.nfs*
scripts/utils/test_sim.ipynb
build/
scripts/utils/
dist/
